body{
    direction: rtl;
    text-align: right;
    font-family: 'Varela Round', sans-serif;
    }

.jumbotron{
    color: #FFFFFF;
    background: linear-gradient(to right, #24c6dc, #514a9d);
    }

    .custom-control.custom-checkbox{padding-left: 0;}

    label.custom-control-label {
      position: relative;
      padding-right: 1.5rem;
    }
    
    label.custom-control-label::before, label.custom-control-label::after{
      right: 0;
      left: auto;
    }

    .smallImg{
        width: 5%
    }

    .inputNum{
        width: 5%;
    }

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #000;
                box-shadow:  0px 0px 0px 0px #000;
    }
    
    legend.scheduler-border {
        width:inherit; /* Or auto */
        padding:0 10px; /* To give a bit of padding on the left and right */
        border-bottom:none;
    }