<div class="custom-control custom-checkbox mb-3 checkbox" ng-repeat="foodOption in food.foodOptions">
    <input type="checkbox" class="custom-control-input" id={{foodOption.id}} name="Food{{foodOption.id}}" ng-model="checked">
    <label class="custom-control-label" for={{foodOption.id}}>{{foodOption.name}} | {{foodOption.description}} | {{foodOption.price}} ש"ח |</label>       
    <img class="smallImg rounded" ng-src="{{foodOption.imgUrl}}" alt="{{foodOption.name}}">
    <input class="inputNum" type="number" id="{{foodOption.id}}" min= "0" ng-model="foodOption.amount" ng-disabled="!checked">    
</div>