    
    <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#{{food.idName}}" aria-expanded="true" aria-controls="{{food.idName}}">
                {{food.name}}
            </button>
          </h5>
        </div>
    
        <div id="{{food.idName}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              <food-option></food-option>
          </div>
        </div>
      </div>





    <!-- <div class="card">
      ng-click="setSelectedFoodType(foodType)"
      <div class="card-header" id="{{foodType.name+'_'+foodType.id}}">
          <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-traget="#{{foodType.name}}" ng-model="selectedFoodType" aria-controls="{{foodType.name}}" aria-expanded="true">
          {{foodType.name}}
        </button>
        </h5>
      </div>
      <div id="{{foodType.name}}" class="collapse show" data-parent="#accordion" aria-labelledby="{{foodType.name+'_'+foodType.id}}">
        <div class="card-body">dasdgfdgfdasdas
           <food-option></food-option> 
        </div>
      </div>
    </div> -->

    

    