<div class="container login mt-5">
    <h1>הרשם לסמדי האופה</h1>
    <p>or <a href="#">צור חשבון חדש</a></p>
    <div class="alert alert-danger" role="alert" ng-show="invalidLogin">
        שם משתמש או סיסמה לא תקינים
    </div>
    <form>
        <div class="form-group">
            <label for="email">כתובת אימייל:</label>
            <input type="email" class="form-control" id="email" ng-model="email">
            <small id="emailHelp" class="form-text text-muted">לא נשתף את האימייל שלך עם אף אחד</small>
        </div>
        <div class="form-group">
            <label for="pwd">סיסמה:</label>
            <input type="password" class="form-control" id="pwd" ng-model="pwd">
        </div>
        <button type="button" class="btn btn-success btn-block" ng-click="login()">הכנס</button>
    </form>
</div>