<div class="container">

    <fieldset class="form-group scheduler-border">
        <legend class="scheduler-border">פרטי&#160;הסדנה</legend>

        <div class="form-group">
            <label for="remark">שם הסדנה:</label>
            <input type="text" class="form-control" id="name" value="{{selectedCard.name}}" readonly>
        </div>
        <div class="form-group">
            <label for="remark">פירוט תוכן הסדנה:</label>
            <textarea class="form-control" id="remark" rows="3" readonly> {{selectedCard.description}}</textarea>
        </div>
    </fieldset>

    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" ng-class="{'active' : activeIndex===selectedCard.images.indexOf(propImage)}" ng-repeat="propImage in selectedCard.images"></li>   
        </ul>
        <!-- The slideshow/carousel to show the property images -->
        <div class="carousel-inner">
            <div class="carousel-item" ng-class="{'active' : activeIndex===selectedCard.images.indexOf(propImage)}" ng-repeat="propImage in selectedCard.images">
                <img src="{{propImage}}" alt="pic1" >
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev"  data-slide="prev" ng-click = "prevImg(activeIndex, selectedCard.images)">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next"  data-slide="next" ng-click = "nextImg(activeIndex, selectedCard.images)">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <br>
    <!-- <a href="/images/myw3schoolsimage.jpg" download> -->
        <button type="button" class="btn btn-outline-primary" ng-click="backToUserWorkShop()">חזור</button>
</div>