<form class="container">
    <h1>ביצוע הזמנה</h1>
    <div class="form-group">
                <label for="foodDetails">פירוט ההזמנה:</label>
                <select multiple class="form-control" id="foodDetails">
                    <option ng-repeat= "foodOption in order.foodOrder"><p><strong> כמות:</strong>{{foodOption.amount}}<strong> פירוט:</strong> {{foodOption.name}} | {{foodOption.description}} | {{foodOption.price}} ש"ח</p></option>
                </select>
            </div>
    <div class="form-group">
        <label for="fullName">שם מלא:</label>
        <input type="text" class="form-control" id="fullName" placeholder="enter you full name">
    </div>
    <div class="form-group">
        <label for="email">כתובת אימייל:</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="phone">טלפון:</label>
        <input type="tel" class="form-control" id="phone" placeholder="050-5555555">
    </div>
    <div class="form-group row">
            <label for="orderDate" class="col-2 col-form-label">תאריך אספקה:</label>
            <div class="col-10">
              <input class="form-control" type="datetime-local" value="2018-12-12T12:12:00" id="orderDate">
            </div>
          </div>
    <div class="form-group">
        <label for="remark">הערות:</label>
        <textarea class="form-control" id="remark" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-outline-primary" ng-click="setOrderDetails()">בצע הזמנה</button>

</form>